<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Placement Portal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>College Placement Portal</h1>
        <nav>
            <a href="/">Home</a>
            {% if request.user.is_authenticated %}
                {% if request.user.is_student %}
                    <a href="{% url 'student_dashboard' %}">Student Dashboard</a>
                {% elif request.user.is_company %}
                    <a href="{% url 'company_dashboard' %}">Company Dashboard</a>
                {% endif %}
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {{ year }} Placement Portal</p>
    </footer>
</body>
</html>
